<!DOCTYPE html>
<html>
    <head>
        <title>The Solar System</title>
        <link rel = "stylesheet" href ="/css/styles.css"/>
            <!--Linking to Bootstrap, jquery-->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet">
    <link href = "css/styles.css" rel="stylesheet" type ="text/css" />
 </head>
<body>
    <h1 class = "jumbotron"> The Solar System </h1>
    
    <nav>
    <a href="/">Home</a>
     <a href="/mercury">Mercury</a>
        <a href="/Venus">Venus</a>
        <a href="/Earth">Earth</a>
        <a href="/Mars">Mars</a>
        </nav>
    <br>