<% include partials/header.ejs %>

<img src = "/img/earth.jpg" alt= "Earth"/>
<h2>Facts about Earth</h2>
-CSU Monterey Bay is located on Earth :)
<br>
-The Earth's tilt is about 66 degrees
<br>
-The Earth has a moon
<br>
-The Earth is currently the only planet known to have intelligent life
<br>
-70% of the Earth is covered in water
<br>
-97% of the Earth's water is salted.
<br>
-Earth was once believed to be the center of the universe. (It's not)
<br>

        
<% include partials/footer.ejs %>