<% include partials/header.ejs %>

<img src = "/img/jupiter.jpg" alt= "Jupiter"/>
<h2>Facts about Jupiter</h2>
-Jupiter takes 11.8 Earth years to orbit the sun
<br>
-However, Jupiter's day lasts only 10 Earth hours
<br>
-The "Red Spot" on Jupiter is a storm that has lasted at least 350 years
<br>
-A grand total of 8 spacecraft have visited Jupiter
<br>
-Jupiter's moon, Ganymede, is the largest moon in our solar system
<br>
-90% of Jupiter's atomosphere is hydrogen
<br>
-Jupiter is mostly made of gas, however, Jupiter weight equals about 318 Earths.
        
<% include partials/footer.ejs %>