body{
    background-color: #4E687F;
    background-image: linear-gradient(gray, lightgray);
    text-align: center;
    
}

nav, footer{
    text-align:center;
}

nav a{ /* links within "nav" container */
    padding:15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none; /*Removes underline*/
    color:white;           /*by default, links are blue */
}

.jumbotron {
 font-family: 'Josefin Slab', serif;
    font-size: 5em;
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}